/* ------------------------------- *\
    style.css
\* ------------------------------- */

/**
 * @copyright 2025 KISMICODE
 */

/* ------------------------------- *\
    Custom Property
\* ------------------------------- */

:root {

    /**
     *  Colors
     */

    --white-color : #ffffff;
    --black-color : #000000;

    /* Light Theme */

    --background-light : #fcfcfc;
    --on-background-light : #0f0e0e;
    --surface-light : #ebe8e8;
    --surface-container-low-light : #dfdddd;
    --surface-container-highest-light : #f8e3e3;
    --on-surface-light : #1b1a1a;
    --on-surface-variant-light : #524a4a;
    --primary-light : #0000ff;
    --on-primary-light : #ffffff;
    --primary-container-light : #8c8ce7;
    --on-primary-container-light : #2c2a2a;
    --secondary-container-light : #ff7b00;
    --on-secondary-container-light : #ffffff;
    --outline-light : #b6a8a8;
    --outline-variant-light : #dfd1d1;
    --inverse-surface-light : #0f0e0e;
    --inverse-on-surface-light : #fcfcfc;

    /* Dark Theme */

    --background-dark : #0f0e0e;
    --on-background-dark : #fcfcfc;
    --surface-dark : #443e3e;
    --surface-container-low-dark : #423737;
    --surface-container-highest-dark : #241e1e;
    --on-surface-dark : #f0e5e5;
    --on-surface-variant-dark : #f7e0e0;
    --primary-dark : #0ccfc6;
    --on-primary-dark : #383535;
    --primary-container-dark : #333399;
    --on-primary-container-dark : #bdb8b8;
    --secondary-container-dark : #fd8f28;
    --on-secondary-container-dark : #464040;
    --outline-dark : #444141;
    --outline-variant-dark : #535252;
    --inverse-surface-dark :  #fcfcfc;
    --inverse-on-surface-dark : #0f0e0e;

    
    /**
     *  Typography
     */

    /*  Font Family */
    --font-primary : "Oswald" , sans-serif ;
    --font-secondary : "Noto Sans" , sans-serif ;
    
    /*  Font Size */

    --fs-base : 62.5% ;

    --fs-display-large : 5.7rem; 
    --fs-display-medium : 4.5rem; 
    --fs-display-small : 3.6rem; 

    --fs-headline-large : 3.2rem; 
    --fs-headline-medium : 2.8rem; 
    --fs-headline-small : 2.4rem; 

    --fs-title-large : 2rem; 
    --fs-title-medium : 1.6rem; 
    --fs-title-small : 1.4rem; 

    --fs-label-large : 1.4rem; 
    --fs-label-medium : 1.2rem; 
    --fs-label-small : 1.1rem; 

    --fs-body-large : 1.6rem; 
    --fs-body-medium : 1.4rem; 
    --fs-body-small : 1.2rem; 

    /*  Font weight */

    --fw-bold : bold ;
    --fw-medium : 500 ;
    --fw-regular : 400 ;

    /*  line height */

    --lh-base : 20px;
    
    --lh-display-large : 64px;
    --lh-display-medium : 52px;
    --lh-display-small : 43px;
    
    --lh-headline-large : 40px;
    --lh-headline-medium : 36px;
    --lh-headline-small : 32px;
    
    --lh-title-large : 28px;
    --lh-title-medium : 24px;
    --lh-title-small : 20px;
    
    --lh-label-large : 20px;
    --lh-label-medium : 16px;
    --lh-label-small : 16px;
    
    --lh-body-large : 24px;
    --lh-body-medium : 20px;
    --lh-body-small : 16px;

    /*  letter spacing */

    --ls-n-025 : -0.25px;
    --ls-p-010 : 0.10px;
    --ls-p-015 : 0.15px;
    --ls-p-025 : 0.25px;
    --ls-p-040 : 0.40px;
    --ls-p-050 : 0.50px;

    /**
     *  Spacing
     */

    --spacing-base : 4px ;

    --spacing-05 : calc(var(--spacing-base) * 0.5);
    --spacing-1 : calc(var(--spacing-base) * 1);
    --spacing-2 : calc(var(--spacing-base) * 2);
    --spacing-3 : calc(var(--spacing-base) * 3);
    --spacing-4 : calc(var(--spacing-base) * 4);
    --spacing-5 : calc(var(--spacing-base) * 5);
    --spacing-6 : calc(var(--spacing-base) * 6);
    --spacing-7 : calc(var(--spacing-base) * 7);
    --spacing-8 : calc(var(--spacing-base) * 8);
    --spacing-9 : calc(var(--spacing-base) * 9);
    --spacing-10 : calc(var(--spacing-base) * 10);
    --spacing-11 : calc(var(--spacing-base) * 11);
    --spacing-12 : calc(var(--spacing-base) * 12);
    --spacing-13 : calc(var(--spacing-base) * 13);
    --spacing-14 : calc(var(--spacing-base) * 14);
    --spacing-15 : calc(var(--spacing-base) * 15);
    --spacing-16 : calc(var(--spacing-base) * 16);
    --spacing-17 : calc(var(--spacing-base) * 17);
    --spacing-18 : calc(var(--spacing-base) * 18);
    --spacing-19 : calc(var(--spacing-base) * 19);
    --spacing-20 : calc(var(--spacing-base) * 20);

    /**
     *  Border radius
     */

    --radius-extra-small : 4px;
    --radius-small : 8px;
    --radius-medium : 12px;
    --radius-large : 16px;
    --radius-extra-large : 28px;
    --radius-full : 500px;
    --radius-extra-full : 1000px;
    --radius-circle : 50%;

    
    /**
     *  Box Shadow
     */

    --shadow-1 : 0px 1px 3px 1px #00000026 , 0px 1px 2px 0px #0000004d ;
    --shadow-2 : 0px 2px 6px 2px #00000026 , 0px 1px 2px 0px #0000004d ;

    /**
     *  Transition 
     */

    --ts-duration-short : 200ms;
    --ts-duration-medium : 400ms;
    --ts-duration-large : 500ms;

    --ts-easing-linear : cubic-bezier(0,0,1,1);
    --ts-easing-linear : cubic-bezier(0,0,1,1);

    /* Others */
    --top-bar-height : 80px;



}

[data-theme="light"] {

    color-scheme: light;

    --background : var(--background-light);
    --on-background : var(--on-background-light);
    --surface : var(--surface-light);
    --surface-container-low : var(--surface-container-low-light);
    --surface-container-highest : var(--surface-container-highest-light);
    --on-surface : var(--on-surface-light);
    --on-surface-variant : var(--on-surface-variant-light);
    --primary : var(--primary-light);
    --on-primary : var(--on-primary-light);
    --primary-container : var(--primary-container-light);
    --on-primary-container : var(--on-primary-container-light);
    --secondary-container : var(--secondary-container-light);
    --on-secondary-container : var(--on-secondary-container-light);
    --outline : var(--outline-light);
    --outline-variant : var(--outline-variant-light);
    --inverse-surface : var(--inverse-surface-light);
    --inverse-on-surface : var(--inverse-on-surface-light);

}

[data-theme="dark"] {

    color-scheme: dark;

    --background : var(--background-dark);
    --on-background : var(--on-background-dark);
    --surface : var(--surface-dark);
    --surface-container-low : var(--surface-container-low-dark);
    --surface-container-highest : var(--surface-container-highest-dark);
    --on-surface : var(--on-surface-dark);
    --on-surface-variant : var(--on-surface-variant-dark);
    --primary : var(--primary-dark);
    --on-primary : var(--on-primary-dark);
    --primary-container : var(--primary-container-dark);
    --on-primary-container : var(--on-primary-container-dark);
    --secondary-container : var(--secondary-container-dark);
    --on-secondary-container : var(--on-secondary-container-dark);
    --outline : var(--outline-dark);
    --outline-variant : var(--outline-variant-dark);
    --inverse-surface : var(--inverse-surface-dark);
    --inverse-on-surface : var(--inverse-on-surface-dark);

}


/* ------------------------------- *\
    RESET
\* ------------------------------- */

*,
*::before,
*::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li {

    list-style: none;

}

a {

    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

img {

    height: auto;

}

a,
img,
span,
button,
input,
textarea {

    display: block;

}

input,textarea {

    width: 100%;

}

button {

    cursor: pointer;

}

input,textarea,button {

    border: none;
    background: none;
    font: inherit;

}

button:focus , input:focus {

    outline: none;

}

textarea {

    resize: none;

}


/* ------------------------------- *\
    BASE
\* ------------------------------- */

:where(input,textarea)::placeholder {

    color: inherit;

}

button:disabled {

    pointer-events: none;

}

html {

    font-family: var(--font-secondary);
    font-size: var(--fs-base);
    scroll-behavior: smooth;

}

body {

    background-color: var(--background);
    color: var(--on-background);
    line-height: var(--lh-base);
    font-size: var(--fs-base);

}

::selection {

    background-color: var(--primary-container);
    color: var(--on-primary-container);

}

::-webkit-scrollbar {

    width: var(--spacing-4);
    height: var(--spacing-4);
    
}

::-webkit-scrollbar-track {

    background-color: var(--outline);

}

::-webkit-scrollbar-thumb {

    background-color: var(--outline-variant);
    border: 1px solid var(--black-color);
    border-radius: var(--radius-extra-small) ;

}


/* ------------------------------- *\
    TYPOGRAPHY
\* ------------------------------- */

.text-display-large {

    font-family: var(--font-primary);
    font-size: var(--fs-display-large);
    line-height: var(--lh-display-large);
    letter-spacing: var(--ls-n-025);
    font-weight: var(--fw-regular);

}

.text-display-medium {

    font-family: var(--font-primary);
    font-size: var(--fs-display-medium);
    line-height: var(--lh-display-medium);
    font-weight: var(--fw-regular);

}

.text-display-small {

    font-family: var(--font-primary);
    font-size: var(--fs-display-small);
    line-height: var(--lh-display-small);
    font-weight: var(--fw-regular);

}

.text-headline-large {

    font-family: var(--font-primary);
    font-size: var(--fs-headline-large);
    line-height: var(--lh-headline-large);
    font-weight: var(--fw-regular);

}

.text-headline-medium {

    font-family: var(--font-primary);
    font-size: var(--fs-headline-medium);
    line-height: var(--lh-headline-medium);
    font-weight: var(--fw-regular);

}

.text-headline-small {

    font-family: var(--font-primary);
    font-size: var(--fs-headline-small);
    line-height: var(--lh-headline-small);
    font-weight: var(--fw-regular);

}

.text-title-large {

    font-family: var(--font-primary);
    font-size: var(--fs-title-large);
    line-height: var(--lh-title-large);
    font-weight: var(--fw-regular);

}

.text-title-medium {

    font-family: var(--font-primary);
    font-size: var(--fs-title-medium);
    line-height: var(--lh-title-medium);
    letter-spacing: var(--ls-p-015);
    font-weight: var(--fw-medium);

}

.text-title-small {

    font-family: var(--font-primary);
    font-size: var(--fs-title-small);
    line-height: var(--lh-title-small);
    letter-spacing: var(--ls-p-010);
    font-weight: var(--fw-medium);

}

.text-label-large {

    font-size: var(--fs-label-large);
    line-height: var(--lh-label-large);
    letter-spacing: var(--ls-p-010);
    font-weight: var(--fw-medium);

}

.text-label-medium {

    font-size: var(--fs-label-medium);
    line-height: var(--lh-label-medium);
    letter-spacing: var(--ls-p-050);
    font-weight: var(--fw-medium);

}

.text-label-small {

    font-size: var(--fs-label-small);
    line-height: var(--lh-label-small);
    letter-spacing: var(--ls-p-050);
    font-weight: var(--fw-medium);

}

.text-body-large {

    font-size: var(--fs-body-large);
    line-height: var(--lh-body-large);
    letter-spacing: var(--ls-p-050);
    font-weight: var(--fw-regular);

}

.text-body-medium {

    font-size: var(--fs-body-medium);
    line-height: var(--lh-body-medium);
    letter-spacing: var(--ls-p-025);
    font-weight: var(--fw-regular);

}

.text-body-small {

    font-size: var(--fs-body-small);
    line-height: var(--lh-body-small);
    letter-spacing: var(--ls-p-040);
    font-weight: var(--fw-regular);

}



/* ------------------------------- *\
    REUSED STYLE
\* ------------------------------- */

.fa {

    font-size: var(--spacing-5);

}

:has(> .state-layer){

    position: relative;
    z-index: 22;
    overflow: hidden;

}

.state-layer {

    position: absolute;
    inset: 0;
    opacity: 0;
    transition: var(--ts-duration-short) var(--ts-easing-linear);
    background-color: var(--state-layer-bg);

}

:has(> .state-layer):hover .state-layer {

    opacity: 0.8;
    

}

:has(> .state-layer):is(:focus,:focus-visible,:active) .state-layer {

    opacity: 0.2;

}

.section {

    padding-block: var(--spacing-6);

}

.container {

    padding-inline: var(--spacing-6);

}

.container2 {

    padding-inline: var(--spacing-15);

}

.img-holder {

    overflow: hidden;
    background-color: transparent;

}

.img-cover {

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top top;

}


/* ------------------------------- *\
    COMPONENT
\* ------------------------------- */

/* button */

.btn {

    background-color: var(--primary);
    color: var(--on-primary);
    padding: var(--spacing-2) var(--spacing-4);
    font-size: var(--spacing-4);
    margin-block: var(--spacing-3);
    border-radius: var(--radius-extra-small);
    display: grid;
    place-content: center;

}

.btn:active {

    scale: 0.9;

}

.icon-btn {

    width: var(--spacing-10);
    height: var(--spacing-10);
    display: grid;
    place-content: center;

}


/* ------------------------------- *\
    HEADER
\* ------------------------------- */

.header {

    background-color: var(--surface);
    color: var(--on-surface);    
    width: 100%;
    height: var(--top-bar-height);
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-3);
    align-items: center;
    z-index: 1111;
    position: fixed;
    top: 0;
    left: 0;
    padding-inline: var(--spacing-5);

}

[data-theme="light"] .logo .dark ,
[data-theme="dark"] .logo .light {

    display: none;


}

[data-theme="light"] .logo .light ,
[data-theme="dark"] .logo .dark {

    display: block;


}

.header .logoContainer {

    display: flex;
    align-items: center;
    gap: var(--spacing-5);

}

.header .logoContainer .logo-text {

    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.9px;
    color: var(--primary);

}

.logo > .img {

    width: 50px;

}

.themeCart {

    display: flex;
    align-items: center;
    gap: 10px;

}

.theme-btn {

    overflow: hidden;
    color: var(--on-surface-variant) ;
    --state-layer-bg : var(--on-surface-variant);
    border-radius: var(--radius-full);
    cursor: pointer;
    transition: var(--ts-duration-short) var(--ts-easing-linear) ;

}

[data-theme="light"] .theme-btn .light ,
[data-theme="dark"] .theme-btn .dark  {

    display: none;

}


[data-theme="light"] .theme-btn .dark ,
[data-theme="dark"] .theme-btn .light  {

    display: block;

}

.theme-btn:active i {

    scale: 1.2;


}

.cart {

    position: relative;
    cursor: pointer;


}

.cart .cart-data {

    position: absolute;
    top: -15px;
    right: -12px;
    background-color: var(--outline-variant);
    width: var(--spacing-5);
    height: var(--spacing-5);
    display: grid;
    place-content: center;
    border-radius: var(--radius-full);
    white-space: nowrap;

}

.cart .cart-dropdown {

    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 22222;
    background-color: var(--primary);
    min-width: 350px;
    padding: var(--spacing-3);
    color: var(--on-primary);
    border-radius: var(--radius-small);
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;

}

.cart .cart-dropdown.toggle-cart {

    display: block;
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease;

}


.cart .cart-dropdown h2 {

    white-space: wrap;
    font-size: var(--spacing-5);

}

/* ------------------------------- *\
    MAIN
\* ------------------------------- */

main {

    margin-block-start: calc( var(--top-bar-height) + var(--spacing-5));

}



.card-container {

    display: grid;
    gap: var(--spacing-10);

}


.card {

    border: 1px solid var(--outline-variant);
    border-radius: var(--radius-small);
    transition: all 0.4s ease;

}



.card-banner {

    max-width: 100%;
    height: 400px;
    border-radius: var(--radius-small) var(--radius-small) 0 0;


}

.card-cover {

    width: 100%;
    height: 400px;

}

.card .card-data {

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.card-data h3 {

    font-size: var(--spacing-5);
    margin-top: var(--spacing-4);

}

.card-data p {

    font-size: var(--spacing-4);
    color: var(--on-surface-variant);

}

.card:hover img {

    scale: 1.1;

}

.cart-btn {

    background-color: var(--secondary-container);
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;

}

@media (max-width:678px) {
    
    .card-container {

        grid-template-columns: repeat(1,1fr);

    }

}

@media (min-width:678px) {

    .card-container {

        grid-template-columns: repeat(2,1fr);

    }

}

@media (min-width:992px) {

    .card-container {

        grid-template-columns: repeat(3,1fr);

    }

}


